 {% load static %}
    <section class="footer-area bg-dark position-relative">
        <hr class="border-top-gray my-5">
        <div class="container">
            <div class="row align-items-center pb-4 copyright-wrap">
                <div class="col-lg-6">
                    <a href="index.html" class="d-inline-block">
                        <img src="{% static 'images/logo-white.png' %}" alt="footer logo" class="footer-logo">
                    </a>
                </div>
                <div class="col-lg-6">
                    <p class="copyright-desc text-right fs-14">Copyright &copy;2023<a href="#">Gokul.C</a></p>
                </div>
            </div>
        </div>
    </section>
    