<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quzi | Login</title>
    {% include 'base/style.html' %}
</head>
<body>
<section class="login-area pt-50px position-relative">
    <div class="container">
        <form action="{% url 'login' %}" method="POST" class="card card-item login-form" >
            <div class="card-body row p-0">
                <div class="col-lg-6">
                    <div class="form-content p-4 h-100 d-flex align-items-center justify-content-center flex-column bg-diagonal-gradient-primary radius-top-left-8 radius-bottom-left-8 text-center">
                        <h3 class="fs-35 pb-3 fw-bold text-white">Good to see you again</h3>
                        <p class="text-white fs-18">Log in with your information that you entered
                            <br> during your registration.
                        </p>
                        <p class="text-white text-center pt-60px pb-3">Don't have an account?</p>
                        <a href="{% url 'signup' %}" class="btn theme-btn theme-btn-white px-5 lh-24">Sign up</a>
                    </div>
                </div>
                <div class="col-lg-5 mx-auto">
                    <div class="form-action-wrapper py-5">
                        <div class="form-group">
                            <h3 class="fs-22 pb-3 fw-bold">Log in to Quzi</h3>
                            <div class="divider"><span></span></div>
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                            <strong>Error:</strong>
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <li>{{ field.label }}: {{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-18">Username</label>
                            <input type="text" name="username" class="form-control form--control" placeholder="USer name">
                        </div>
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-18">Password</label>
                            <div class="input-group">
                                <input class="form-control form--control password-field" type="password" name="password" placeholder="Password">
                                <div class="input-group-append">
                                    <button class="btn theme-btn-outline theme-btn-outline-gray toggle-password" type="button">
                                        <svg class="eye-on" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#a1a1a1"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z"/></svg>
                                        <svg class="eye-off" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#a1a1a1"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z"/></svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between">
                           
                            <a href="{% url 'signup' %}" class="btn-text fs-14 hover-underline fw-regular">Your are New User?</a>
                        </div>
                        <div class="form-group">
                            <button id="send-message-btn" class="btn theme-btn w-100" type="submit">Log in <i class="la la-arrow-right icon ml-1"></i></button>
                        </div>
                   
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% include 'base/scripts.html' %}

</body>
</html>